.section_projects {
  background: radial-gradient(
    circle,
    rgba(var(--color-secondary), 0.36),
    rgba(var(--color-bg-secondary), 0.36) 50%
  );
  padding: 1rem 1.5rem;
}

.sec_projects {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.sec_projects .title {
  font-size: clamp(2rem, 1.81vw + 1.53rem, 3rem);
  color: rgb(var(--color-title));
  text-align: center;
  margin-bottom: 2rem;
}

.sec_projects .show_projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sec_projects .banner {
  width: 100%;
  position: relative;
}

.sec_projects .banner .image_banner {
  width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
  border-radius: 1rem;
  border: 2px solid rgba(var(--color-primary), 0.8);
  box-shadow: 4px 4px 8px rgba(var(--color-secondary), 0.36);
}

.banner_info {
  position: absolute;
  inset: 0;

  background: rgba(var(--color-secondary), 0.8);
  color: rgb(var(--color-text));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

  opacity: 0;
  transition: 0.3s ease-in-out;
}

.banner:hover .banner_info {
  opacity: 1;
}

.sec_projects .banner_info .marca {
  font-size: clamp(0.75rem, 0.45vw + 0.63rem, 1rem);
  display: inline-block;
  background: rgb(var(--color-button));
  color: rgb(var(--color-text));
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

.sec_projects .banner_info h3 {
  font-size: clamp(1.5rem, 0.45vw + 1.38rem, 1.75rem);
  margin-block: 0.5rem;
}

.sec_projects .banner_info .description {
  font-size: clamp(1rem, 0.90vw + 0.77rem, 1.5rem);
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: center;
}

.sec_projects .banner_info .btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sec_projects .banner_info button {
  background: rgb(var(--color-button));
  color: rgb(var(--color-text));
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: clamp(0.75rem, 0.45vw + 0.63rem, 1rem);
  cursor: pointer;

  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.sec_projects .banner_info .btn_video {
  background: transparent;
  border: none;
}

.sec_projects .banner_info .btn_video a {
  color: rgb(var(--color-title));
  text-decoration: underline;
}

.sec_projects .banner_info .btn_repository a {
  color: rgb(var(--color-neutre-primary));
}

.sec_projects .banner_info button a {
  text-decoration: none;
}

.sec_projects .banner_info button:hover {
  background: rgb(15, 63, 153);
  transform: translateY(-2px);
}

.more {
  text-align: center;
  color: rgb(var(--color-button));
  margin-top: 2rem;
  text-decoration: underline;
  cursor: pointer;
  background: rgba(var(--color-bg-secondary), 0.36);
  padding: 1rem;
  border-radius: 1rem;
}

.more:hover {
  color: rgb(var(--color-neutre-primary));
}

@media (max-width: 768px) {

  .sec_projects .show_projects {
    grid-template-columns: 1fr;
  }
}