* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    /* background: linear-gradient(to top, black,rgb(127, 182, 255), rgb(255, 255, 255),rgb(127, 182, 255), black) no-repeat top center; */
    background: linear-gradient(to top,#0E0929, #92ACFF );
    height: 100vh;
    text-align: center;
    color: #0E0929;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 100px;
    border: 5px solid #92ACFF;
    border-radius: 50%;
}

nav {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 25px 25px;
    margin: 0 0 5px 0;
    padding: 15px;
    
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
}

li {
    cursor: pointer;
}

li a {
    color: #0E0929;
    background: #92acff69;
    padding: 5px;
    border-radius: 5px;
    
}

li a:hover {
    background: #0E092969;
    color: #92acff;
}

main {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #92ACFF;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
}

#apresentacao {
    padding: 10px;
}

#ola {
    margin: 10px;
    background: #0e0929;
    border-radius: 10px;
    color: #92ACFF;
}

p {
    padding: 10px;
}

#alternativo {
    color: rgba(0, 0, 0, 0.5);
    padding: 0 0 10px 0;
}

#habilidades h3{
    margin: 10px;
}

#habilidades label{
    cursor: pointer;
    padding: 5px 10px;
    background: #92ACFF;
    color: #0E0929;
    border-radius: 3px;
    border: 1px solid #0E0929;
    margin-right: 6px;
    transition: 0.2s;
    display: inline-block;
}

#habilidades input[type="radio"] {
    display: none;
}

#habilidades label:hover {
    opacity: 0.8;
    transform: scale(1.09);
}

#habilidades input[type="radio"]:checked + label,
#habilidades label:has(input[type="radio"]:checked) {
  background: #0E0929;
  color: #92ACFF;
  font-weight: bold;
  border: 2px solid #92ACFF;
}

#texto {
    background: #92acff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid #0E0929;
    color: #0E0929;
}

footer  {
    background: #92ACFF;
    color: #0E0929;
    padding: 5px;
    border-radius: 10px;
}