.section_about {
  background: rgba(var(--color-secondary), 0.36);
  padding: 1rem 2rem;
}

.sub_section {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
}

.section_title {
  font-size: clamp(2rem, 1.81vw + 1.53rem, 3rem);
  color: rgb(var(--color-title));
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.section_description {
  width: min(100%, 75rem);
  font-size: clamp(1rem, 0.90vw + 0.77rem, 1.5rem);
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.section_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.about_block {
  display: flex;
  align-items: center;
  background: rgba(108, 108, 108, 0.28);
  border: 2px solid rgba(151, 151, 151, 0.48);
  padding: 1rem 1.5rem;
  border-radius: 1rem;

  transition: transform .3s ease;
}

.about_block:hover {
  transform: translateY(-2px);
}

.about_block h3 {
  font-size: clamp(1.25rem, 1.35vw + 0.90rem, 2rem);
  background: rgb(var(--color-neutre-secondary));
  color: rgb(var(--color-bg));
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.about_block p {
  font-size: clamp(1rem, 0.90vw + 0.77rem, 1.5rem);
  font-weight: 500;
  margin-left: 1rem;
}

.section_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section_flex h3 {
  font-size: clamp(1.5rem, 2.71vw + 0.80rem, 3rem);
  text-align: center;
}

.section_flex p {
  font-size: clamp(1rem, 0.90vw + 0.77rem, 1.5rem);
}

.line {
  display: block;
  margin-inline: auto;
  width: 80%;
  height: 2px;
  background: rgb(var(--color-neutre-secondary));
}

@media (min-width: 768px) {
  .section_description {
    text-align: center;
    margin-bottom: 6rem;
  }

  .section_flex {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6rem;
  }

  .line {
    display: none;
  }
}
