.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1300px;
  height: 6.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 998;
}

.back {
  position: relative;
  background: rgba(var(--color-neutre-secondary), 0.36);
  border: rgb(var(--color-neutre-secondary)) 2px solid;
  border-radius: 50px;
  height: 3.125rem;
  width: 6.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 1000;
}

.modeLight {
  background: rgba(var(--color-neutre-secondary), 0.36);
  border: rgb(var(--color-neutre-secondary)) 2px solid;
  border-radius: 100%;
  height: 3.125rem;
  width: 3.125rem;
  display: flex;
  justify-items: center;
  align-items: center;

  cursor: pointer;
}

.modeLight .mode {
  font-size: 2rem;
  width: 100%;
  border-radius: 100%;
}

.section {
  min-height: 100dvh;
  background: linear-gradient(
    to bottom,
    rgba(var(--color-bg-secondary), 0.36),
    rgba(var(--color-secondary), 0.36)
  );
  padding-top: 6.25rem;
}

.sub_project {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.sub_project .title {
  font-size: clamp(2rem, 1.81vw + 1.53rem, 3rem);
  font-weight: 700;
  text-align: center;
  color: rgb(var(--color-title));
  margin-bottom: 1rem;
}

.sub_project .image {
  width: min(700px, 100%);
  height: auto;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.64);
  border: 2px solid rgba(var(--color-primary), 0.8);
}

.sub_project .technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.sub_project .technology {
  background: rgba(var(--color-primary), 0.8);
  color: rgb(var(--color-text));
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 2px 2px 6px rgba(var(--color-secondary), 0.36);
  cursor: default;
}

.sub_project .technology:hover {
  background: rgba(var(--color-primary), 1);
  box-shadow: 4px 4px 12px rgba(var(--color-secondary), 0.36);
}

.sub_project .description {
  text-align: center;
  font-size: 1rem;
  color: rgb(var(--color-text));
  margin-bottom: 1rem;
}

.sub_project .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.sub_project .buttons a {
  text-decoration: none;
}

.sub_project .buttons a button {
  font-size: 1rem;
  padding: 1rem 2.8rem;
  border-radius: 0.375rem;
  border: none;
  background: rgb(var(--color-button));
  font-family: var(--font-primary);
  font-weight: 600;
  display: inline;
  box-shadow: 4px 4px 12px rgba(var(--color-secondary), 0.36);

  cursor: pointer;

  transition: transform 0.3s ease;
}

.sub_project .buttons button:hover {
  transform: translateY(-2px);
}

.sub_project .buttons button:active {
  transform: scale(0.98);

  transition: transform 0.1s ease;
}

.sub_project .buttons .btn_site {
  background: rgba(255, 255, 255, 0.8);
}


.case_use {
  max-width: min(700px, 100%);
  margin: 0 auto;
}

.case_use_title {
  font-size: clamp(2rem, 1.81vw + 1.53rem, 3rem);
  font-weight: 700;
  color: rgb(var(--color-title));
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid rgba(var(--color-primary), 0.8);
  padding-bottom: 0.5rem;
}

.case_use_section {
  margin-bottom: 1.5rem;
  background: rgba(var(--color-bg-secondary), 0.36);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgba(var(--color-secondary), 0.36);
}

.case_use_subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--color-title));
  margin-bottom: 0.5rem;
}

.case_use_list {
  list-style: disc;
  padding-left: 1.5rem;
  text-align: justify;
}

.case_use_item {
  font-size: 1rem;
  color: rgb(var(--color-text));
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .sub_project .technology {
    font-size: 1rem;

  }
}
