@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: 51, 66, 88; /* azul escuro */
  --color-secondary: 0, 0, 0; /* preto */

  --color-bg-secondary: 16, 50, 102; /* azul escuro do background das seções */
  --color-bg: 26, 26, 26; /* preto fundo 1a1a1a */
  --color-details: 95, 139, 204; /* azul claro dos detalhes */

  --color-white: 255,255, 255;

  --color-neutre-primary: 0, 0, 0; /* Preto */
  --color-neutre-secondary: 255, 255, 255; /* branco */

  --color-text: 255, 255, 255; /* branco */
  --color-title: 121, 175, 255; /* azul claro */

  --color-button: 81, 150, 255; /* azul vibrante */

  --color-detail-card: 108, 108, 108;
  --color-detail-bord: 151, 151, 151;

  --font-primary: "Montserrat", sans-serif;
}

.light-mode {
  --color-primary: 162, 221, 255; /* Azul clarinho */
  --color-secondary: 0, 0, 0; /* preto */

  --color-bg-secondary: 162, 221, 255; /* branco do background das seções */
  --color-bg: 241, 241, 241; /* cinza claro para o fundo */
  --color-details: 95, 139, 214; /* azul claro dos detalhes */

  --color-white: 255,255, 255;

  --color-neutre-primary: 225, 225, 225; /* branco para os detalhes */
  --color-neutre-secondary: 26, 26, 26; /* preto para os detalhes */

  --color-text: 26, 26, 26; /* preto para o texto */
  --color-title: 51, 66, 88; /* azul escuro para os títulos */

  --color-button: 81, 150, 255; /* azul vibrante para os botões */

  --color-detail-card: 108, 108, 108;
  --color-detail-bord: 97, 97, 97; 

  --font-primary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));
  font-family: var(--font-primary);
}
