@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: 51, 66, 88; /* azul escuro */
  --color-secondary: 0, 0, 0; /* preto */

  --color-bg-secondary: 16, 50, 102; /* azul escuro do background das seções */
  --color-bg: 26, 26, 26; /* preto fundo 1a1a1a */

  --color-neutre-secondary: 255, 255, 255; /* branco */

  --color-text: 255, 255, 255; /* branco */
  --color-title: 204, 224, 255; /* azul claro */

  --color-button: 43, 95, 173; /* azul vibrante */

  --font-primary: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));
  font-family: var(--font-primary);
}